---
---

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

$red:       #ddaaaa;
$green:     #aaddaa;
$blue:      #aaaadd;
$yellow:    #ddddaa;
$pink:      #ddaadd;
$mizu:      #aadddd;
$gray:      #333333;
$lightgray: #dddddd;
$darkgray:  #222222;
$font:      18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monofont:  Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;

body {
    color: white;
    background-color: $gray;
    width: 1200px;
    padding: 100px;
    overflow-x: clip;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    font: $font;
    font-size: large;
    font-weight: 500;
    margin: 0px auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

header {
    width: 250px;
    float: left;
    position: fixed;
    text-align: center;
}

nav {
    font-size: 40px;
    font-weight: 700;
    background-color: $darkgray;
    padding: 15px 10px 20px 10px;
    margin:  10px 10px 60px 10px;
    border-radius: 10px;
}

section {
    width: 900px;
    float: right;
    padding-bottom: 100px;
}

strong {
    color: $green;
}

a {
    color: $green;
    text-decoration: none;
    &:hover {
        color: $blue;
    }
}

@mixin box {
    color: $gray;
    background-color: white;
    display: inline-block;
    padding: 1px 4px 5px 4px;  
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
}

.button {
    @include box;
    background-color: $green;
    cursor: pointer;
    &:hover {
        color: $gray;
        background-color: $blue;
    }
}

mark {
    @include box;
    background-color: $yellow;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
}

td {
    text-align: left;
    padding: 5px 10px;
    &:first-child {
        text-align: right;
        vertical-align: top;
        width: 115px;
        border-right: 1px solid white;
    }
}

blockquote {
    border-left: 1px solid white;
    margin-left: 10px;
    padding-left: 10px;
    font-style: italic;
}

pre {
    background-color: $darkgray;
    font: $monofont;
    padding: 5px 10px;
    border-radius: 10px;
    overflow-x: auto;
}

code {
    font: $monofont;
}

@media screen and (max-height: 800px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    body {
        word-wrap: break-word;
        width: auto;
        margin: 0px;
    }

    section {
        padding-left: 300px;
        float: none;
        position: static;
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    body {
        word-wrap: break-word;
        padding: 15px;
        width: auto;
        margin: 0px;
    }

    header {
        float: none;
        position: static;
        width: auto;
        padding: 0px;
        margin:  0px;
        display: flex;
        flex-flow: column;
    }

    nav {
        font-size: 30px;
        padding: 5px 5px 10px 5px;
        margin:  10px 0px 10px 0px;
    }

    section {
        float: none;
        position: static;
        width: auto;
        padding: 0px;
    }

    #img {
        display: none;
    }

    #name {
        order: 1;
    }
    #nav {
        order: 2;
    }
}