<!DOCTYPE html>
<html lang="{{site.lang | default: "en-US"}}">
  <head>
    <title>{{site.title}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <link rel="canonical" href="{{site.canonical}}"/>
    <link rel="icon" href="{{site.favicon}}" type="image/png"/>
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav><h1 style="font-size: 24pt">
          <!-- page navigation with the current page underlined -->
          <a href="/">{% if page.url == '/' %}<u>{% endif %}Home{% if page.url == '/' %}</u>{% endif %}</a><br>
          <a href="/research">{% if page.url == '/research' %}<u>{% endif %}Research{% if page.url == '/research' %}</u>{% endif %}</a><br>
          <a href="/teaching">{% if page.url == '/teaching' %}<u>{% endif %}Teaching{% if page.url == '/teaching' %}</u>{% endif %}</a><br>
        </h1></nav>
        <img src="{{site.avatar}}" width=120px height=150px/>
        
        <h2>{{site.title}}</h2>
        
        <p>{{site.description}}</p>
        
        <!-- obfuscated email -->
        <script>document.write('<a href="ma&#105lto:'+'d'+'an%69e'+'l'+'@'+'ot'+'t'+'en'+'.'+'c'+'o'+'">dan'+'&#105el'+'@'+'ott'+'en.co</a>');</script><br><br><br>
      </header>
      
      <section>
        {{content}}
      </section>
    </div>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </body>
</html>
